.section-title {
    @include font($main-font, 20px, 800, $main-text-color, -0.8px, 30px);

    &::before {
        content: "[ ";
    }

    &::after {
        content: " ]";
    }

    @media (min-width: 768px) { 
        @include font($main-font, 30px, 800, $main-text-color, -1.2px, 40px);
    }

    @media (min-width: 1200px) { 
        @include font($main-font, 48px, 800, $main-text-color, -1.92px, 60px);
   }

}

.about-list-title {
    @include font($main-font, 16px, 800, $main-text-color, 0, 21px);
    display: inline-block;
    background-color: rgb(237, 240, 242);

    &::before {
        content: "[ ";
    }

    &::after {
        content: " ]";
    }
}